.teaser {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.teaser-img-bg {
  position: absolute;
  top: 288px;
  left: -66px;
  content: " ";
  background-size: 20% 20%;
  width: 100%;
  height: 100%;
  margin-right: 2em;
  background: url('/modules/Home/images/quit-smoking.jpg') no-repeat;
}

.non-smoker>img {
    width:100%;
  }

.benefit {
  margin-top: 2em;
}

ul.arguments {
  text-align: left;
  font-size: 1.3em;
}

@media screen and (max-width:1200px){
  .non-smoker {
    width:80%;
    margin-right: auto;
    margin-left: auto;
  }

@media screen and (max-width:768px){
  .non-smoker {
    display:none;
  }

}
